# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*
replay_pid*

# Gradle
.gradle/
build/
bin/
out/
.mvn/
*.hprof

# IDE & STS
.idea/
*.iws
*.ipr
*.iml
.sts4-cache
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

HELP.md

# Local Docker environment
.env
